@import url('http://fonts.googleapis.com/css?family=Cardo');

body {
    font-family: 'Cardo';
    color: #DB4F18;
    background-color: #333;
    margin: 10px;
    background: url('green_cup.png');
    opacity: 0.7;
    text-shadow: 0px 2px 3px #ddd;

}

h1 {
    text-align: center;
    font-size: 3em;
}

h2 {
    text-align: center;
    font-size: 2em;
    margin-left: 90px;
    margin-right: 90px;
}

div#main {
    margin: 50px;
    margin-top: 150px;
}

a {
    color: #A34018;
    text-decoration: none;
}

a:hover {
    color: #DB4F18;
}

footer {
    font-size: 1em;
    text-align: center;
}
